@import url(~bootstrap/dist/css/bootstrap.min.css);
@font-face {
  font-family: 'LibreFranklin';
  src: url("./resources/fonts/LibreFranklin-Regular.ttf");
  /* IE9 Compat Modes */
  src: url("./resources/fonts/LibreFranklin-Regular.ttf") format("embedded-opentype"), url("./resources/fonts/LibreFranklin-Regular.ttf") format("woff2"), url("./resources/fonts/LibreFranklin-Regular.ttf") format("woff"), url("./resources/fonts/LibreFranklin-Regular.ttf") format("truetype"), url("./resources/fonts/LibreFranklin-Regular.ttf") format("svg");
  /* Legacy iOS */ }

body {
  font-family: 'LibreFranklin', Fallback, sans-serif; }

.custom-button {
  background-color: #070342;
  border-color: #070342;
  margin-top: 15px;
  width: 100%; }

.container-margin {
  margin-top: 25vh; }
